<%- include('partials/header') -%>
<main>
    <h1>Create New Bill List</h1>
    <form action="/bills/newList" method="POST" >
    <label for="">List Name </label>
    <input type="text" name="listName" id="" label="List Name">
    <label for="">List Month</label>
    <input type="text" name="listMonth" id="" label="">
    <label for="">List Year</label>
    <input type="text" name="listYear" id="" label="">
    <button type="submit" class="">Create</button>
</form>
</main>

<%- include('partials/footer') -%>
