
tr, th,td{
    border: 1px solid;
}

.list-container{
    border: 1px solid black;
    
}

.bill-container{
    border: 2px solid black;
    ;
}

li{
    list-style-type: none;
}

ul{

}

.edittableinputs{

}

.inputs{
    width:20px;
}